.main {
  display: flex;
  gap: 10px;
  width: 70vw;
  margin: 20px auto;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
}

.addTask {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 5px;
  height: 100%;
  box-shadow: 0px 5px 5px grey;
  border-radius: 5px;
  flex-direction: column;
  gap: 10px;
}

.addTaskBtn {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 17px;
  margin-top: 5px;
  cursor: pointer;
}
a {
  color: black;
  text-decoration: none;
}
input {
  width: auto; /* Default width for other screen sizes */
}

@media (min-width: 1024px) {
  input {
    width: 300px;
  }
}
